.fill-height {
    width: 100%;
    height: calc(100vh - 100px); /* Adjust this value */
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
}